ul{
    display: flex;
    background-color: rgb(16, 16, 80);
    list-style: none;
    height: 40px;
    align-items: center;

}
li {
    color: white;
    padding: 0 16px;

}


li:not(:first-child){
    border-left: 1px solid white;
}